.mobileNavigation {
    display: none;

    @include respond(tab-land) {
         display: block;
     }

    &__checkbox {
        display: none;
    }

    &__btn {
        background-color: $white;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 3rem;
        right: 3rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($darkGrey, .5);
        text-align: center;
        cursor: pointer;
        
    }

    &__background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-image: radial-gradient( rgba($yellow, .8), rgba($lightGrey, .8) );
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    }

    &__list {
        position: absolute;
        @include abs-center;
        text-align: center;
        width: 100%;

        &--link {
            &:link,
            &:visited {
                color: $darkGrey;
                font-size: 3rem;
                font-weight: bold;
            }
        }

        &--item {
            margin: 1rem;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
     }

    //ICON
    
    &__icon {
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 1.5rem;
            height: 2px;
            background-color: $darkGrey;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {top: -6px}
        &::after {top: 6px}
    }

    &__btn:hover &__icon::before {
        top: -.5rem;
    }

    &__btn:hover &__icon::after {
        top: .5rem;
    }

    &__checkbox:checked + &__btn &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon:before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__btn &__icon:after {
        top: 0;
        transform: rotate(-135deg);
    }
}