.slider {
    border: 1px solid white;
    height: 40rem;
    width: 40rem;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
}

.mySlides {
    color: white;
    border: 1px solid white;
    width: 37rem;
    height: 37rem;
    padding: 1rem;
    position: absolute;
    @include abs-center;
}


.cardControls {
    margin: 0 auto;
    text-align: center;

    &__icon--up,
    &__icon--down {
        fill: white;
        height: 7rem;
        width: 7rem;
        &:hover {
            cursor: pointer;
        }
    }
}

.sliderBtn {
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}
