.slider {
    border: 1px solid $lightGrey;
    background-color: rgba($black, .2);
    height: 45rem;
    max-width: 40rem;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    z-index: 200;
    box-shadow:  0 2rem 6rem rgba($black, .3);

    @include respond(phone) {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    
}

.mySlides {
    background-image: linear-gradient(to bottom, $lightGrey, $white);
    color: $darkGrey;
    border: 1px solid white;
    width: 37rem;
    //height: 38rem;
    padding: 1rem;
    position: relative;
    @include abs-center;

   @include respond(phone) {
       width: 30rem;
   }
      

    &__heading {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__text {
        text-align: center;
    }

    &__logo {
        text-align: center;
        margin: 1rem 0;

        &--img {
            width: 10rem;
        }
    }
}


.cardControls {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 200;

    &__icon--up,
    &__icon--down {
        fill: white;
        height: 7rem;
        width: 7rem;
        &:hover {
            cursor: pointer;
        }
    }

    &__btn {
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.sliderBtn {
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}
