.slider {
    border: 1px solid white;
    height: 30rem;
    padding: 2rem;
}

.mySlides {
    color: white;
    border: 1px solid white;
    width: 15rem;
    margin: 0 auto;
    //display: none;
}


.cardControls {
    margin: 0 auto;
    text-align: center;

    &__icon--up,
    &__icon--down {
        fill: white;
        height: 7rem;
        width: 7rem;
        &:hover {
            cursor: pointer;
        }
    }
}
