.aboutSection {
    min-height: 50vh;
    background-color: $yellow;
    padding-top: 5rem;
    padding-bottom: 3rem;

    &__content {
        display: flex;
    }

    &__text {
        text-align: justify;
        margin-right: 1rem;
        padding: 1.5rem;
    }

    &__heading {
        color: $darkGrey;
        text-align: left;
        margin-bottom: 2rem;
    }
}