.homeSection {
    background-image: 
        linear-gradient(to right, rgba($white, .6), rgba(black, .6)),
        url('/src/img/me.jpg');
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 50vh;

    &__content {
        margin-top: 5rem;
        color: white;

        &--heading {
            font-size: 7rem;
        }
    
        &--subHeading {
            font-size: 3.5rem;
        }
    }
}