.homeHeader {
    background-color: $white;
    min-width: 18rem;
    border-right: 1px solid $darkGrey;
    position: relative;

    &__content {
        position: fixed;
        top: 0;
        left: 0;

    }
}

