.skillsSection {
    min-height: 50vh;
    position: relative;
    background-color: $darkGrey;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 3rem;



    &__heading {
        color: $white;
        position: relative;
        z-index: 200;
        margin-bottom: 5rem;
    }
}

.videoWrap {
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    @include respond(tab-port) {
        left: -30rem;
    }

    @include respond(phone) {
        left: -50rem;
    }
}

.videoOverlay {
    height: 100%;
    width: 100%;
    background-color: $darkGrey;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: .6;
}

