

.home {
    background-image:
        linear-gradient(to right, rgba($white, .4), rgba($darkGrey, .3)),
        url('/src/img/me.jpg');
    height: 50vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &__contents {
        background-color: coral;
    }
}
